<h1>Tehthävä 1</h1>
<p>
  http-test works!
</p>

<p>
    {{ vastaus.outDir }}

</p>

<p>
  {{ vastaus.module }}
</p>


<h1>Tehthävä 2</h1>

<ul>
  <li *ngFor="let tyopaikka of apivastaus">
    <a href="{{tyopaikka.linkki}}">Ammattiala: {{tyopaikka.linkki}}</a>
  </li>
</ul>

<ul>
  <li *ngFor="let ammatti of apivastaus">
    {{ammatti.ammattiala}}
  </li>
</ul>

<ul>
  <li>
    {{ apivastaus2.upperRightLatitude }}
    {{  apivastaus2.upperRightLongitude}}
    {{apivastaus2.travelOptions}}
    {{apivastaus2.transitModes}}
  </li>
</ul>




